<div class="<%= mark_as_this_poem ? "fam-tree-leaf-self" : "fam-tree-leaf" %>">
  <% unless poem.alive? %>
    <p><strong>Deceased</strong></p><br />
  <% end %>
  <%= render poem %>
  <br />
  <hr class="small">
  <div class="centered">
     <%= alive_dates(poem) %>
  </div>
  <br />
</div>
