<div id="container">
  <div class="left-column">
    <%= render :partial => "poem_stats", :locals => { :poem => @poem } %>
  </div>
  <div class="right-column">
    <%= render @poem %>
  </div>
  <div class="clear"></div>
</div>
<hr>
<h3>Family Tree</h3>
<div class="family-tree">
  <%= family_tree(@poem) %>
  <div class="clear"></div>
</div>
