 /* Primary Styles
    Author: Raul Jara
 */

/*
 * General
 */

/* Colors */
@white: #FFFFFF;
@black: #000000;
@main_color: #4A67BE;
@sub_color_1: #4D5D8E;
@sub_color_2: #18317B;
@sub_color_3: #7892DE;
@sub_color_4: #93A6DE;

@header_height: 100px;
@header_padding: 20px;
@overall_width: 784px;
@minimum_height: 600px;

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

div.clear {
  display: block;
  clear: both;
}

.top_bottom_gradient {
  background: -moz-linear-gradient(top, @main_color, @main_color - #444);  
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@main_color), to(@main_color - #444));  
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/*
 * Template
 */

body {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(@sub_color_2), to(@sub_color_2), color-stop(0.5, @black) );
}

div.main-body {
  .rounded-corners;
  opacity: 0.35;
  width: @overall_width - 2 * 20px;
  padding: 20px;
  background-color: @white;
  min-height: @minimum_height;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: @header_height - 2 * @header_padding;
  background-color: @main_color;
  .top_bottom_gradient;
}

header div.centered {
  width: 784px;
  padding: @header_padding;
  margin-left: auto;
  margin-right: auto;
}

header ul {
  list-style-type: none;
}

header li {
  margin-left: 20px;
  float: right;
}

/*
 * Main Body
 */

div.main-body {
  width: @overall_width;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Language Styles
 */

div.language {
  border-style: solid;
  display: block;
  padding: 5px;
  border-color: #000;
  border-width: 5px;
  margin-top: 25px;
  width: 784px;
}

div.left-language {
  width: 50%;
  float: left;
}

div.right-language {
  width: 50%;
  float: right;
}



