 /* Primary Styles
    Author: Raul Jara
 */

/*
 * General
 */

/* Colors */
@white: #FCFCFC;
@dif: #181818;
@black: #000000;
@dark: #333;
@text_color: #444;
@main_color: #666666;
@sub_color_1: @main_color + @dif;
@sub_color_2: @main_color - @dif;
@sub_color_3: @main_color - (2 * @dif);
@sub_color_4: @main_color - (3 * @dif);

@default_font_size: 13px;
@default_line_height: 16px;
@logo_font_size: 20px;
@logo_line_height: 24px;
@header_height: 100px;
@header_padding: 20px;
@padding: 20px;
@overall_width: 80%;

@minimum_height: 600px;
@minimum_body_height: 800px;
@minimum_width: 784px;

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: @padding;
  width: 100%;
}

h3 {
}

hr.small {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo-mixin {
  font-size: @logo_font_size;
  line-height: @default_line_height;
  text-decoration: none;
  color: @sub_color_2;
  font-family: Arial Black, sans serif;
}

h1 {
  .logo-mixin;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #6078a0;
}

a:hover {
  color: #036; 
}

a.disabled-link {
  color: #222;
}

ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none;
}

div.clear {
  display: block;
  clear: both;
}

.top_bottom_gradient {
  background: -moz-linear-gradient(top, @white, @main_color);  
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@white), to(@main_color));  
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/*
 * Template
 */

body {
  font-size: @default_font_size;
  line-height: @default_line_height;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(@sub_color_4), to(@sub_color_4), color-stop(0.5, @sub_color_2) );
  min-height: @minimum_body_height;
}

div.main-body {
  .rounded-corners;
  width: @overall_width;
  background-color: @white;
  min-height: @minimum_height;
  min-width: @minimum_width;
  border-width: 1px;
  border-color: @black;
  border-style: solid;
  margin-top: @header_height - 2 * @header_padding + 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

div.margin-box {
  width: 95%;
  min-width: @minimum_width - 2 * @padding;
  margin: @padding;
}

a.logo-link {
  float: left;
  .logo-mixin;
}

a.logo-link:hover {
  color: @main_color;
}

header {
  width: 100%;
  height: @header_height - 2 * @header_padding;
  position: fixed;
  top: 0px;
  background-color: @white;
  .top_bottom_gradient;
  border-width: 1px;
  border-style: none none solid;
  z-index: 10;
  border-color: #222;
}

header div.centered {
  width: @overall_width;
  padding-top: @header_padding;
  padding-bottom: @header_padding;
  margin-left: auto;
  margin-right: auto;
}

header ul {
  float: right;
  margin-top: (@logo_line_height - @default_line_height) / 4;
  list-style-type: none;
}

header li {
  margin-left: 20px;
  float: right;
}

div.page-title {
  text-align: center;
  margin-top: (@logo_line_height - @default_line_height) / 4;
  margin-left: auto;
  margin-right: auto;
}

div.left-column {
  width: 45%;
  float: left;
}

div.right-column {
  width: 45%;
  float: right;
}

/*
 * Main Body
 */

div.main-body {
  width: @overall_width;
  margin-left: auto;
  margin-right: auto;
}

div.main-left-column {
  float: left;
  width: 450px;
}

div.main-right-column {
  float: right;
  width: 45%;
}

div.home-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: @padding;
  margin-bottom: @padding;
}

div.home-links ul {
}

div.home-links li {
  margin-top: 15px;
}

/*
 * Language Styles
 */

div.language {
  .rounded-corners;
  border-style: solid;
  display: block;
  padding: 5px;
  border-color: @text_color;
  border-width: 1px;
  min-height: 250px;
  margin-top: 25px;
}

div.left-language {
  width: 50%;
  float: left;
}

div.right-language {
  width: 50%;
  float: right;
  z-index: 1;
}

/* Poem */
div.poem {
  margin-bottom: @padding;
  z-index: 2;
}


/* Family Tree */
@fam_tree_line_width: 300px;
@fam_tree_line_height: 100px;
@fam_tree_leaf_padding: 15px;

div.left-text {
  width: 50%;
  float: left;
  text-align: right;
}

div.right-text {
  width: 50%;
  float: right;
  text-align: left;
}

div.family-tree {
  overflow: scroll;
}

.fam-tree-leaf-mixin {
  float: left;
  padding: @fam_tree_leaf_padding;
  font-size: 2 * @default_font_size / 3;
  line-height: 2 * @default_line_height / 3;
}
div.fam-tree-leaf {
  .fam-tree-leaf-mixin;
  width: @fam_tree_line_width - 2 * @fam_tree_leaf_padding;
}

div.fam-tree-leaf-self {
  .fam-tree-leaf-mixin;
  width: @fam_tree_line_width - 2 * @fam_tree_leaf_padding - 4px;
  border-style: solid;
  border-color: @dark;
  border-width: 2px;
}

div.fam-tree-row{
  min-height: @fam_tree_line_height;
  /*border-style: solid;
  border-width: 2px;
  border-color: #00c; */
}

div.fam-tree-line-level {
  width: @fam_tree_line_width;
  height: @fam_tree_line_height / 2;
  /*   border-style: solid;
  border-width: 2px;
  border-color: #0c0;
*/
}

div.fam-tree-line-container {
  width: @fam_tree_line_width;
  height: @fam_tree_line_height;
  float: left;
  /*border-style: solid;
  border-width: 2px;
  border-color: #c00;*/
}

.fam-tree-box {
  float: left;
}

div.fam-tree-unmarked {
  .fam-tree-box;
  height: @fam_tree_line_height / 2;
  width: @fam_tree_line_width / 2;
}

div.fam-tree-marked-right {
  .fam-tree-box;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #666;
  height: @fam_tree_line_height / 2;
  width: @fam_tree_line_width / 2 - 1;
}

div.fam-tree-marked-bottom {
  .fam-tree-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  height: @fam_tree_line_height / 2 - 1;
  width: @fam_tree_line_width / 2;
}


/* Evolution Chamber */


/* Works */

div.author-name {
  text-decoration: italic;
  margin-bottom: 10px;
}

div.author {
  margin-top: 25px;
}
