h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
hr.small {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
div.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.logo-mixin, h1 {
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #4e4e4e;
  font-family: Arial Black, sans serif;
}
a {
  text-decoration: none;
  font-weight: bold;
}
ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none;
}
div.clear {
  display: block;
  clear: both;
}
.top_bottom_gradient {
  background: -moz-linear-gradient(top, #ffffff, #666666);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#666666));
}
body {
  font-size: 13px;
  line-height: 16px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#1e1e1e), to(#1e1e1e), color-stop(0.5, #4e4e4e));
  background-color: #1e1e1e;
}
div.main-body {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 80%;
  background-color: #ffffff;
  min-height: 600px;
  min-width: 784px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
div.margin-box {
  width: 95%;
  min-width: 744px;
  margin: 20px;
}
a.logo-link {
  float: left;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #4e4e4e;
  font-family: Arial Black, sans serif;
}
a.logo-link:hover { color: #666666; }
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  background: -moz-linear-gradient(top, #ffffff, #666666);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#666666));
  border-width: 1px;
  border-style: none none solid;
  border-color: #222222;
}
header div.centered {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
header ul {
  float: right;
  margin-top: 2px;
  list-style-type: none;
}
header li {
  margin-left: 20px;
  float: right;
}
div.page-title {
  text-align: center;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}
div.left-column {
  width: 45%;
  float: left;
}
div.right-column {
  width: 45%;
  float: right;
}
div.main-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
div.main-left-column {
  float: left;
  width: 450px;
}
div.main-right-column {
  float: right;
  width: 45%;
}
div.home-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.home-links li { margin-top: 15px; }
div.language {
  border-style: solid;
  display: block;
  padding: 5px;
  border-color: #000000;
  border-width: 5px;
  margin-top: 25px;
}
div.left-language {
  width: 50%;
  float: left;
}
div.right-language {
  width: 50%;
  float: right;
}
div.poem { margin-bottom: 20px; }
span.new-text { background-color: #aaddaa; }
span.deleted-text {
  background-color: #777777;
  text-color: #cccccc;
}
span.from-first-parent { background-color: #ddddaa; }
span.from-second-parent { background-color: #aaaadd; }
div.left-text {
  width: 50%;
  float: left;
  text-align: right;
}
div.right-text {
  width: 50%;
  float: right;
  text-align: left;
}
div.family-tree { overflow: scroll; }
.fam-tree-leaf-mixin {
  float: left;
  padding: 15px;
  font-size: 8.666666666666666px;
  line-height: 10.666666666666666px;
}
div.fam-tree-leaf {
  float: left;
  padding: 15px;
  font-size: 8.666666666666666px;
  line-height: 10.666666666666666px;
  width: 270px;
}
div.fam-tree-leaf-self {
  float: left;
  padding: 15px;
  font-size: 8.666666666666666px;
  line-height: 10.666666666666666px;
  width: 266px;
  border-style: solid;
  border-color: #333333;
  border-width: 2px;
}
div.fam-tree-row { min-height: 100px; }
div.fam-tree-line-level {
  width: 300px;
  height: 50px;
}
div.fam-tree-line-container {
  width: 300px;
  height: 100px;
  float: left;
}
.fam-tree-box { float: left; }
div.fam-tree-unmarked {
  float: left;
  height: 50px;
  width: 150px;
}
div.fam-tree-marked-right {
  float: left;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #666666;
  height: 50px;
  width: 149px;
}
div.fam-tree-marked-bottom {
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666666;
  height: 49px;
  width: 150px;
}
div.author-name {
  text-decoration: italic;
  margin-bottom: 10px;
}
div.author { margin-top: 25px; }
