 /* Primary Styles
    Author: Raul Jara
 */

/*
 * General
 */

/* Colors */
$white: #FCFCFC;
$grey: #EEEEEE;
$dif: #181818;
$black: #000000;
$dark: #333;
$text_color: #444;
$main_color: #666666;
$sub_color_1: $main_color + $dif;
$sub_color_2: $main_color - $dif;
$sub_color_3: $main_color - (2 * $dif);
$sub_color_4: $main_color - (3 * $dif);

/* Overall Settings */

$default_font_size: 13px;
$default_line_height: 16px;
$logo_font_size: 20px;
$logo_line_height: 24px;
$header_height: 100px;
$header_padding: 20px;
$padding: 20px;
$overall_width: 1000px;
$sub_header_height: 100px;

$minimum_height: 600px;
$minimum_body_height: 800px;
$minimum_width: 784px;

/* poem settings */
$poem_width: 400px - 2 * $padding;

/* Family tree settings */
$fam_tree_line_width: $poem_width / 2;
$fam_tree_line_height: 100px;
$fam_tree_leaf_padding: $padding / 2;


p {
  margin-bottom: 5px;
}

p.normal-size {
  font-size: $default_font_size;
  line-height: $default_line_height;
}

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: $padding / 2.0;
  width: 100%;
}

h3 {
}

hr.small {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@mixin logo {
  font-size: $logo_font_size;
  line-height: $default_line_height;
  text-decoration: none;
  color: $sub_color_2;
  font-family: Arial Black, sans serif;
}

h1 {
  @include logo;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #6078a0;
}

a:hover {
  color: #036;
}

a.disabled-link {
  color: #222;
}

ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none;
}

.clear {
  display: block;
  clear: both;
}

@mixin top_bottom_gradient {
  background: -moz-linear-gradient(top, $white, $main_color);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($white), to($main_color));
}

@mixin rounded-corners ($radius: 5px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-width: 1px;
  border-style: solid;
}

/*
 * Template
 */

body {
  font-size: $default_font_size;
  line-height: $default_line_height;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from($sub_color_4), to($sub_color_4), color-stop(0.5, $sub_color_2) );
  min-height: $minimum_body_height;
}

.main-body {
  @include rounded-corners;
  width: $overall_width;
  background-color: $white;
  min-height: $minimum_height;
  min-width: $minimum_width;
  border-color: $black;
  margin-top: $header_height - 2 * $header_padding + 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.margin-box {
  width: 95%;
  min-width: $minimum_width - 2 * $padding;
  margin: $padding;
}

a.logo-link {
  float: left;
  @include logo;
}

a.logo-link:hover {
  color: $main_color;
}

header {
  @include top_bottom_gradient;
  width: 100%;
  height: $header_height - 2 * $header_padding;
  position: fixed;
  top: 0px;
  background-color: $white;
  border-width: 1px;
  border-style: none none solid;
  z-index: 10;
  border-color: #222;

  .centered {
    width: $overall_width;
    padding-top: $header_padding;
    padding-bottom: $header_padding;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    float: right;
    margin-top: ($logo_line_height - $default_line_height) / 4;
    list-style-type: none;
  }

  li {
    margin-left: 20px;
    float: right;
  }
}


.page-title {
  text-align: center;
  margin-top: ($logo_line_height - $default_line_height) / 4;
  margin-left: auto;
  margin-right: auto;
}

.left-column {
  width: 45%;
  float: left;
}

.right-column {
  width: 45%;
  float: right;
}

/*
 * Main Body
 */

.main-body {
  width: $overall_width;
  margin-left: auto;
  margin-right: auto;
}

.main-left-column {
  float: left;
  width: 450px;
}

.main-right-column {
  float: right;
  width: 45%;
}

.home-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $padding;
  margin-bottom: $padding;

  li {
    margin-top: 15px;

    .left {
      width: 45%;
      float: left;
      text-align: right;
      vertical-align: middle;
    }

    .right {
      width: 50%;
      float: right;
      text-align: left;
    }
  }
}


/*
 * Language Styles
 */

.language {
  @include rounded-corners;
  display: block;
  padding: $padding;
  border-color: $text_color;
  background-color: $grey;
  min-height: 400px;
  margin-top: 25px;
}

.left-languages-column {
  width: $overall_width / 2 - 4 * $padding;
  padding: $padding;
  height: $sub_header_height;
  float: left;
}

.right-languages-column {
  width: $overall_width / 2 - 4 * $padding;
  float: right;
  height: $sub_header_height;
  overflow-y: auto;
}

.left-language {
  width: 45%;
  float: left;

  p {
    margin-bottom: 15px;
  }
}

.right-language {
  width: 45%;
  float: right;
  z-index: 1;
}

.poem-stat-combo {
  margin-bottom: 20px;

  .poem {
    padding: $fam_tree_leaf_padding;
    line-height: $default_line_height / 2.0;
    font-size: $default_font_size / 2.0;
    cursor: pointer;
  }
}

/* Carousel */

.carousel {
  width: 100%;
  min-height: 300px;

  li {
    margin-top: 15px;
    @include rounded_corners;
    padding: $padding;
    width: $poem_width;
    background-color: $white;
  }
}

.carousel-counter li {
  @include rounded-corners(4px);
  float: left;
  margin-left: 4px;
  height: 8px;
  width:  8px;
  border-color: #222;
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

.carousel-unselected {
  background-color: #fff;
}

.carousel-selected {
  background-color: #555;
}

/* Poem */
.poem {
  margin-bottom: $padding;
  z-index: 2;
}

.poem-stats ul {
  height: 200px;
  overflow: auto;
}


/* Family Tree */
.left-text {
  width: 50%;
  float: left;
  text-align: right;
}

.right-text {
  width: 50%;
  float: right;
  text-align: left;
}

.family-tree {
  overflow: auto;
}

@mixin fam-tree-leaf-mixin {
  float: left;
  padding: $fam_tree_leaf_padding;
  font-size: $default_font_size / 2.0;
  line-height: $default_line_height / 2.0;
}
.fam-tree-leaf {
  @include fam-tree-leaf-mixin;
  width: $fam_tree_line_width;
}

.fam-tree-leaf-self {
  @include fam-tree-leaf-mixin;
  width: $fam_tree_line_width - 4px;
  border-style: solid;
  border-color: $dark;
  border-width: 2px;
}

.fam-tree-row {
  min-height: $fam_tree_line_height;
}

.fam-tree-line-container {
  width: $fam_tree_line_width + 2 * $fam_tree_leaf_padding;
  height: $fam_tree_line_height;
  float: left;
}

.fam-tree-line-level {
  width: $fam_tree_line_width + 2 * $fam_tree_leaf_padding;
  height: $fam_tree_line_height / 2;
}

.fam-tree-unmarked {
  float: left;
  height: $fam_tree_line_height / 2;
  width: $fam_tree_line_width / 2 + $fam_tree_leaf_padding;
}

.fam-tree-marked-right {
  float: left;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #666;
  height: $fam_tree_line_height / 2;
  width: $fam_tree_line_width / 2 + $fam_tree_leaf_padding - 1;
}

.fam-tree-marked-bottom {
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  height: $fam_tree_line_height / 2 - 1;
  width: $fam_tree_line_width / 2 + $fam_tree_leaf_padding;
}

.full-sized-poem {
  @include rounded-corners;
  display: none;
  width: 2.0 * $fam_tree_line_width;
  min-height: 200px;
  padding: $padding;
  position: fixed;
  top: 200px;
  background-color: $white;
  border-color: #222;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
  background-color: $black;
}

.close-btn {
  position: fixed;
  display: none;
  z-index: 10;
}

/* Evolution Chamber */
@mixin voting {
  @include rounded-corners;
  cursor: pointer;
  border-color: #222;
  padding: $padding;
  background-color: $grey;
}

.evolution-chamber {
  .left-column {
    float: left;
    width: 50%;
  }

  .right-column {
    float: right;
    width: 50%;
  }

  .voting-container {
    @include voting;
    width: $poem_width;
    margin-left: auto;
    margin-right: auto;
  }
}

.inheritence-container {
  margin-bottom: 20px;
}

/* Works */

.author-name {
  text-decoration: italic;
  margin-bottom: 10px;
}

.author {
  margin-top: 25px;
}

/* Quick Evolution Chamber */

.quick-evolution {
  .voting-container {
    @include voting;
    width: 400px - (2 * $padding);
  }

  .first-row {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .second-row {
    margin-top: 25px;

    .voting-container {
      @include voting;
      width: 3 / 4 * (400px - (2 * $padding));
      font-size: 3 / 4 * $default_font_size;
      line-height: 3 / 4 * $default_line_height;
      padding: 3 / 4 * $padding;
    }

    .first {
      margin-right: 21px;
      float: left;
    }

    .second {
      margin-right: 21px;
      float: left;
    }

    .third {
      float: left;
    }
  }
}

