/* Primary Styles
   Author: Raul Jara
*/
/*
 * General
 */
/* Colors */
/* Overall Settings */
/* poem settings */
/* Family tree settings */
p {
  margin-bottom: 5px; }

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  width: 100%; }

hr.small {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #4e4e4e;
  font-family: Arial Black, sans serif; }

a {
  text-decoration: none;
  font-weight: bold; }

a, a:active, a:visited {
  color: #6078a0; }

a:hover {
  color: #036; }

a.disabled-link {
  color: #222; }

ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none; }

.clear {
  display: block;
  clear: both; }

/*
 * Template
 */
body {
  font-size: 13px;
  line-height: 16px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#1e1e1e), to(#1e1e1e), color-stop(0.5, #4e4e4e));
  min-height: 800px; }

.main-body {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  width: 1000px;
  background-color: #fcfcfc;
  min-height: 600px;
  min-width: 784px;
  border-color: black;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }

.margin-box {
  width: 95%;
  min-width: 744px;
  margin: 20px; }

a.logo-link {
  float: left;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #4e4e4e;
  font-family: Arial Black, sans serif; }

a.logo-link:hover {
  color: #666666; }

header {
  background: -moz-linear-gradient(top, #fcfcfc, #666666);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#666666));
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: none none solid;
  z-index: 10;
  border-color: #222; }
  header .centered {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto; }
  header ul {
    float: right;
    margin-top: 2px;
    list-style-type: none; }
  header li {
    margin-left: 20px;
    float: right; }

.page-title {
  text-align: center;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto; }

.left-column {
  width: 45%;
  float: left; }

.right-column {
  width: 45%;
  float: right; }

/*
 * Main Body
 */
.main-body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.main-left-column {
  float: left;
  width: 450px; }

.main-right-column {
  float: right;
  width: 45%; }

.home-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  .home-links li {
    margin-top: 15px; }
    .home-links li .left {
      width: 45%;
      float: left;
      text-align: right;
      vertical-align: middle; }
    .home-links li .right {
      width: 50%;
      float: right;
      text-align: left; }

/*
 * Language Styles
 */
.language {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  display: block;
  padding: 20px;
  border-color: #444444;
  background-color: #eeeeee;
  min-height: 400px;
  margin-top: 25px; }

.left-languages-column {
  width: 420px;
  padding: 20px;
  height: 100px;
  float: left; }

.right-languages-column {
  width: 420px;
  float: right;
  height: 100px;
  overflow-y: auto; }

.left-language {
  width: 45%;
  float: left; }
  .left-language p {
    margin-bottom: 15px; }

.right-language {
  width: 45%;
  float: right;
  z-index: 1; }

.poem-stat-combo {
  margin-bottom: 20px; }
  .poem-stat-combo .poem {
    padding: 10px;
    line-height: 8px;
    font-size: 6.5px;
    cursor: pointer; }

/* Carousel */
.carousel {
  width: 100%;
  min-height: 300px; }
  .carousel li {
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    width: 360px;
    background-color: #fcfcfc; }

.carousel-counter li {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin-left: 4px;
  height: 8px;
  width: 8px;
  border-color: #222;
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
  cursor: pointer; }

.carousel-unselected {
  background-color: #fff; }

.carousel-selected {
  background-color: #555; }

/* Poem */
.poem {
  margin-bottom: 20px;
  z-index: 2; }

.poem-stats ul {
  height: 200px;
  overflow: auto; }

/* Family Tree */
.left-text {
  width: 50%;
  float: left;
  text-align: right; }

.right-text {
  width: 50%;
  float: right;
  text-align: left; }

.family-tree {
  overflow: auto; }

.fam-tree-leaf {
  float: left;
  padding: 10px;
  font-size: 6.5px;
  line-height: 8px;
  width: 180px; }

.fam-tree-leaf-self {
  float: left;
  padding: 10px;
  font-size: 6.5px;
  line-height: 8px;
  width: 176px;
  border-style: solid;
  border-color: #333333;
  border-width: 2px; }

.fam-tree-row {
  min-height: 100px; }

.fam-tree-line-container {
  width: 200px;
  height: 100px;
  float: left; }

.fam-tree-line-level {
  width: 200px;
  height: 50px; }

.fam-tree-unmarked {
  float: left;
  height: 50px;
  width: 100px; }

.fam-tree-marked-right {
  float: left;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #666;
  height: 50px;
  width: 99px; }

.fam-tree-marked-bottom {
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  height: 49px;
  width: 100px; }

.full-sized-poem {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  display: none;
  width: 360px;
  min-height: 200px;
  padding: 20px;
  position: fixed;
  top: 200px;
  background-color: #fcfcfc;
  border-color: #222; }

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
  background-color: black; }

.close-btn {
  position: fixed;
  display: none;
  z-index: 10; }

/* Evolution Chamber */
.evolution-chamber .left-column {
  float: left;
  width: 50%; }
.evolution-chamber .right-column {
  float: right;
  width: 50%; }
.evolution-chamber .voting-container {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  border-color: #222;
  padding: 20px;
  background-color: #eeeeee;
  width: 360px;
  margin-left: auto;
  margin-right: auto; }

.inheritence-container {
  margin-bottom: 20px; }

/* Works */
.author-name {
  text-decoration: italic;
  margin-bottom: 10px; }

.author {
  margin-top: 25px; }

/* Quick Evolution Chamber */
.quick-evolution .voting-container {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  border-color: #222;
  padding: 20px;
  background-color: #eeeeee;
  width: 360px; }
.quick-evolution .first-row {
  width: 400px;
  margin-left: auto;
  margin-right: auto; }
.quick-evolution .second-row {
  margin-top: 25px; }
  .quick-evolution .second-row .voting-container {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    border-color: #222;
    padding: 20px;
    background-color: #eeeeee;
    width: 270px;
    font-size: 9.75px;
    line-height: 12px;
    padding: 15px; }
  .quick-evolution .second-row .first {
    margin-right: 21px;
    float: left; }
  .quick-evolution .second-row .second {
    margin-right: 21px;
    float: left; }
  .quick-evolution .second-row .third {
    float: left; }
