/* Primary Styles
   Author: Raul Jara
*/
/*
 * General
 */
/* Colors */
/* Overall Settings */
/* poem settings */
/* Family tree settings */
::-moz-selection {
  background: #3297fd;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #3297fd;
  color: #fff;
  text-shadow: none; }

p {
  margin-bottom: 5px; }

p.normal-size {
  font-size: 14px;
  line-height: 18px; }

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  width: 100%; }

h2 {
  font-size: 18px;
  line-height: 24px; }

h3 {
  margin-bottom: 20px; }

hr.small {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.transparent {
  opacity: 0.0; }

h1 {
  font-size: 22px;
  line-height: 18px;
  text-decoration: none;
  color: #4e4e4e;
  letter-spacing: 1px;
  font-family: Arial Black, sans serif;
  margin-bottom: 2px; }

a {
  text-decoration: none;
  font-weight: bold; }

a, a:active, a:visited {
  color: #6063a0; }

a:hover {
  color: #036; }

a.disabled-link {
  color: #222; }

ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none; }

.clear {
  display: block;
  clear: both; }

/*
 * Template
 */
body {
  font-size: 14px;
  line-height: 18px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#1e1e1e), to(#1e1e1e), color-stop(0.5, #4e4e4e));
  min-height: 800px; }

.main-body {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  width: 960px;
  padding: 20px;
  background-color: #fcfcfc;
  min-height: 600px;
  min-width: 784px;
  border-color: black;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }

a.logo-link {
  float: left;
  font-size: 22px;
  line-height: 18px;
  text-decoration: none;
  color: #4e4e4e;
  letter-spacing: 1px;
  font-family: Arial Black, sans serif;
  margin-bottom: 2px; }

a.logo-link:hover {
  color: #666666; }

header {
  background: -moz-linear-gradient(top, #fcfcfc, #666666);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#666666));
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: none none solid;
  z-index: 10;
  border-color: #222; }
  header .centered {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto; }
  header ul {
    float: right;
    margin-top: 2.25px;
    list-style-type: none; }
  header li {
    margin-left: 20px;
    float: right; }

.page-title {
  text-align: center;
  margin-top: 2.25px;
  margin-left: auto;
  margin-right: auto; }

.left-column {
  width: 45%;
  float: left; }

.right-column {
  width: 45%;
  float: right; }

/*
 * Main Body
 */
.main-left-column {
  float: left;
  width: 450px; }
  .main-left-column #markov-container {
    margin-top: 75px;
    width: 350px;
    margin-left: auto;
    margin-right: auto; }
    .main-left-column #markov-container span {
      font-size: 20px;
      line-height: 28px; }
    .main-left-column #markov-container .one {
      background-color: #ccf; }
    .main-left-column #markov-container .two {
      background-color: #ff7; }
    .main-left-column #markov-container .three {
      background-color: #f95; }
    .main-left-column #markov-container .four {
      background-color: #7f7; }

.main-right-column {
  float: right;
  width: 45%; }

/* $button-bottom: #1e5799;
 * $button-mid-point: #2989d8;
 * $button-split: #207cca;
 * $button-top: #7db9e8;
 */
.home-links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  .home-links .button {
    margin-bottom: 15px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 1px 1px 1px #999999;
    box-shadow: 1px 1px 1px #999999;
    padding: 14px;
    background: #5a5392;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8f8bc1 0%, #6c6aae 50%, #5856a9 51%, #5a5392 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f8bc1), color-stop(50%, #6c6aae), color-stop(51%, #5856a9), color-stop(100%, #5a5392));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8f8bc1 0%, #6c6aae 50%, #5856a9 51%, #5a5392 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8f8bc1 0%, #6c6aae 50%, #5856a9 51%, #5a5392 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8f8bc1 0%, #6c6aae 50%, #5856a9 51%, #5a5392 100%);
    /* IE10+ */
    background: linear-gradient(top, #8f8bc1 0%, #6c6aae 50%, #5856a9 51%, #5a5392 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 );
    /* IE6-9 */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
    .home-links .button p {
      text-align: center; }
    .home-links .button p.label {
      font-size: 16px;
      line-height: 20px;
      color: #fcfcfc;
      text-shadow: black 1px 1px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .home-links .button p.description {
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: normal; }
  .home-links .button:hover {
    background: #645ca3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #9f9bca 0%, #7c7bb7 50%, #6967b2 51%, #645ca3 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9f9bca), color-stop(50%, #7c7bb7), color-stop(51%, #6967b2), color-stop(100%, #645ca3));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9f9bca 0%, #7c7bb7 50%, #6967b2 51%, #645ca3 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9f9bca 0%, #7c7bb7 50%, #6967b2 51%, #645ca3 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9f9bca 0%, #7c7bb7 50%, #6967b2 51%, #645ca3 100%);
    /* IE10+ */
    background: linear-gradient(top, #9f9bca 0%, #7c7bb7 50%, #6967b2 51%, #645ca3 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 );
    /* IE6-9 */
    border-color: #eeeeee; }
  .home-links .call-to-action {
    margin-bottom: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 1px 1px 1px #999999;
    box-shadow: 1px 1px 1px #999999;
    padding: 20px;
    background: #d35f12;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f49458), color-stop(50%, #ef6829), color-stop(51%, #f1560e), color-stop(100%, #d35f12));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* IE10+ */
    background: linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 );
    /* IE6-9 */ }
    .home-links .call-to-action p {
      text-align: center; }
    .home-links .call-to-action p.label {
      font-size: 16px;
      line-height: 20px;
      color: #fcfcfc;
      text-shadow: black 1px 1px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .home-links .call-to-action p.description {
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: normal; }
  .home-links .call-to-action:hover {
    background: #eb6a14;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5a370), color-stop(50%, #f17941), color-stop(51%, #f36726), color-stop(100%, #eb6a14));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* IE10+ */
    background: linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 );
    /* IE6-9 */
    border-color: #eeeeee; }

/*
 * About
 */
.heading {
  font-weight: bold;
  margin-top: 20px; }

.not-so-wide {
  width: 50%; }

/*
 * Language Styles
 */
.main-body-languages {
  width: 1000px;
  min-height: 600px;
  min-width: 784px;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }

.language {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  display: block;
  padding: 20px;
  border-color: #444444;
  background-color: #eeeeee;
  min-height: 400px;
  margin-top: 25px; }
  .language .call-to-action {
    margin-bottom: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 1px 1px 1px #999999;
    box-shadow: 1px 1px 1px #999999;
    padding: 15px;
    background: #d35f12;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f49458), color-stop(50%, #ef6829), color-stop(51%, #f1560e), color-stop(100%, #d35f12));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* IE10+ */
    background: linear-gradient(top, #f49458 0%, #ef6829 50%, #f1560e 51%, #d35f12 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 );
    /* IE6-9 */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 250px; }
    .language .call-to-action p {
      text-align: center; }
    .language .call-to-action p.label {
      font-size: 16px;
      line-height: 20px;
      color: #fcfcfc;
      text-shadow: black 1px 1px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .language .call-to-action p.description {
      color: black;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: normal; }
  .language .call-to-action:hover {
    background: #eb6a14;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5a370), color-stop(50%, #f17941), color-stop(51%, #f36726), color-stop(100%, #eb6a14));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* IE10+ */
    background: linear-gradient(top, #f5a370 0%, #f17941 50%, #f36726 51%, #eb6a14 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-top', endColorstr='$button-bottom',GradientType=0 );
    /* IE6-9 */
    border-color: #eeeeee; }
  .language .left {
    width: 45%;
    float: left; }
    .language .left p {
      margin-bottom: 15px; }
  .language .right {
    width: 45%;
    float: right;
    z-index: 1; }

.languages .left {
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #fcfcfc;
  position: fixed;
  top: 250px; }
  .languages .left p {
    margin-top: 12px; }
.languages .right {
  width: 520px;
  float: right; }

.poem-stat-combo {
  margin-bottom: 20px; }
  .poem-stat-combo .poem {
    padding: 10px;
    line-height: 9px;
    font-size: 7px;
    cursor: pointer; }

/* Carousel */
.carousel {
  width: 100%;
  min-height: 300px; }
  .carousel li {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    width: 360px;
    background-color: #fcfcfc; }

.carousel-counter li {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin-left: 4px;
  height: 8px;
  width: 8px;
  border-color: #222;
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
  cursor: pointer; }

.carousel-unselected {
  background-color: #fff; }

.carousel-selected {
  background-color: #555; }

/* Poem */
.poem {
  margin-bottom: 20px;
  z-index: 2; }
  .poem .deleted-text {
    display: none; }

.with-inheritence .new-text {
  background-color: #9f9; }
.with-inheritence .altered-text {
  background-color: #f95; }
.with-inheritence .from-first-parent {
  background-color: #dda; }
.with-inheritence .from-second-parent {
  background-color: #aad; }
.with-inheritence .deleted-text {
  display: inline;
  background-color: #777;
  text-color: #ccc; }

.poem-stats ul {
  height: 200px;
  overflow: auto; }

/* Family Tree */
.left-text {
  width: 50%;
  float: left;
  text-align: right; }

.right-text {
  width: 50%;
  float: right;
  text-align: left; }

.family-tree {
  overflow: auto; }

.fam-tree-leaf {
  float: left;
  padding: 10px;
  font-size: 7px;
  line-height: 9px;
  cursor: pointer;
  width: 180px; }

.fam-tree-leaf-self {
  float: left;
  padding: 10px;
  font-size: 7px;
  line-height: 9px;
  cursor: pointer;
  width: 176px;
  border-style: solid;
  border-color: #333333;
  border-width: 2px; }

.fam-tree-row {
  min-height: 100px; }

.fam-tree-line-container {
  width: 200px;
  height: 100px;
  float: left; }

.fam-tree-line-level {
  width: 200px;
  height: 50px; }

.fam-tree-unmarked {
  float: left;
  height: 50px;
  width: 100px; }

.fam-tree-marked-right {
  float: left;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #666;
  height: 50px;
  width: 99px; }

.fam-tree-marked-bottom {
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  height: 49px;
  width: 100px; }

.full-sized-poem {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  display: none;
  width: 360px;
  min-height: 200px;
  padding: 20px;
  position: fixed;
  top: 200px;
  background-color: #fcfcfc;
  border-color: #222; }

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
  background-color: black; }

.close-btn {
  position: fixed;
  display: none;
  z-index: 10; }

/* Evolution Chamber */
.voting-response {
  padding: 10px; }
  .voting-response .for {
    padding: 10px; }
  .voting-response .against {
    padding: 10px; }
  .voting-response img.voting {
    float: left;
    margin-right: 15px; }

.evolution-chamber {
  margin-bottom: 30px; }
  .evolution-chamber .left-column {
    float: left;
    width: 50%; }
  .evolution-chamber .right-column {
    float: right;
    width: 50%; }
  .evolution-chamber .voting-container {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    border-color: #222;
    padding: 20px;
    background-color: #eeeeee;
    width: 360px;
    margin-left: auto;
    margin-right: auto; }

.inheritence-container {
  margin-bottom: 20px; }

/* Works */
.author-name {
  text-decoration: italic;
  margin-bottom: 10px; }

.author {
  margin-top: 25px; }

/* Quick Evolution Chamber */
.quick-evolution .voting-container {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  border-color: #222;
  padding: 20px;
  background-color: #eeeeee;
  width: 360px; }
.quick-evolution .left-voting {
  float: left;
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }
.quick-evolution .right-voting {
  float: right;
  width: 400px;
  margin-top: 35px; }
  .quick-evolution .right-voting .voting-container {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    border-color: #222;
    padding: 20px;
    background-color: #eeeeee;
    width: 360px; }
  .quick-evolution .right-voting li {
    margin-bottom: 20px; }
  .quick-evolution .right-voting .first {
    margin-right: 21px;
    float: left; }
  .quick-evolution .right-voting .second {
    margin-right: 21px;
    float: left; }
  .quick-evolution .right-voting .third {
    float: left; }
