<div class="language">
  <div class="left-language">
    <h3><%= language.name %></h3>
    <p class="language-description"><%= language.description %></p>
    <p class="language-description">Featuring works by <%= author_links(language) %></p>
  </div>
  <div class="right-language">
    
  </div>
</div>
