<div class="author">
  <div class="left-author">
    <a id="author_<%= author.id %>"></a>
    <h3><%= author.full_name %><h3>
  </div>
  <div class="right-author">
    <ul class="works-links"><%= works_links(author) %></ul>
  </div>
</div>
