@import '../global_settings.scss';

/* Evolution Chamber */

@mixin voting {
  @include rounded-corners;
  cursor: pointer;
  border-color: #222;
  padding: $padding;
  background-color: $grey;
}

.voting-response {
  padding: 10px;

  .for {
    padding: 10px;
  }

  .against {
    padding: 10px;
  }

  img.voting {
    float: left;
    margin-right: 15px;
  }
}

.evolution-chamber {
  margin-bottom: 30px;

  .left-column {
    float: left;
    width: 50%;
  }

  .right-column {
    float: right;
    width: 50%;
  }

  .voting-container {
    @include voting;
    width: $poem_width;
    margin-left: auto;
    margin-right: auto;
    @include shadow-inset(rgba(0, 0, 0, 0.2), -1px, -1px, 8px);
    @include basic-transition(all);
  }

  .voting-container:hover {
    background-color: #ccf;
    @include basic-transition(all);
  }
}

