@import '../global_settings.scss';

/*
 * Language Styles
 */
.main-body-languages {
  width: $overall_width;
  min-height: $minimum_height;
  min-width: $minimum_width;
  margin-top: $header_height - 2 * $header_padding + 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.language {
  @include rounded-corners;
  display: block;
  padding: $padding;
  border-color: $text_color;
  background-color: $grey;
  min-height: 400px;
  margin-top: 25px;

  .call-to-action {
    @include button(15px);
    @include button-gradient( $action_color );
    @include centered;
    margin-top: 50px;
    width: 250px;
  }

  .call-to-action:hover {
    @include button-gradient( $action_color, 50%);
    border-color: $grey;
  }

  .left {
    width: 45%;
    float: left;

    p {
      margin-bottom: 15px;
    }
  }

  .right {
    width: 45%;
    float: right;
    z-index: 1;
  }

}

.languages {
  .left {
    width: (2 * $overall_width / 5) - 4 * $padding;
    padding: 30px;
    @include rounded_corners;
    background-color: $white;
    position: fixed;
    top: 250px;

    p {
      margin-top: 12px;
    }
  }

  .right {
    width: (3 * $overall_width / 5) - 4 * $padding;
    float: right;
  }
}

.poem-stat-combo {
  margin-bottom: 20px;

  .poem {
    padding: $fam_tree_leaf_padding;
    line-height: $default_line_height / 2.0;
    font-size: $default_font_size / 2.0;
    cursor: pointer;
  }
}

