@import '../global_settings.scss';

$parent_width: 150px;
$narrow_t_width: $fam_tree_line_width / 4 + $fam_tree_leaf_padding / 2;
$poem_width: $parent_width * 2 + $narrow_t_width;
$left_width: 475px;
$children_margin: ($left_width - $poem_width) / 2;

/* Poem */
.main-body-poem {
  @include basic-body;
  @include rounded-corners;
  @include shadow-inset;
  width: $overall_width;
  background-color: $white;
  border-color: $black;

  .left {
    float: left;
    width: $left_width;
  }

}

.poem-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.poem {
  margin-bottom: $padding;
  z-index: 2;

  .deleted-text {
    display: none;
  }
}

.stats-box {
  @include rounded-corners;
  @include shadows(#ccc);
  position: relative;
  float: right;
  top: 0px;
  background-color: $grey;
  width: 300px;
  padding: $padding;
  z-index: 2;
}

.with-inheritence {
  .new-text {
    background-color: #9f9;
  }

  .altered-text {
    background-color: #f95;
  }

  .from-first-parent {
    background-color: #dda;
  }

  .from-second-parent {
    background-color: #aad;
  }

  .deleted-text {
    display: inline;
    background-color: #777;
    text-color: #ccc;
  }
}



.small-red-button {
  @include small-button(#D99, 50%);
}

.small-red-button:hover {
  @include small-button(#D99, 55%);
}

.small-green-button {
  @include small-button($link_color, 55%);
}

.small-green-button:hover {
  @include small-button($link_color, 60%);
}

.poem-stats ul {
  height: 200px;
  overflow: auto;
}

.divider {
  @include button-gradient($main_color, 68%);
  padding: 5px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;

  .centered {
    width: 185px;
    margin-left: auto;
    margin-right: auto;

    .label {
      padding: 2px;
      float: left;
    }
  }
}


@mixin fam-tree-leaf-mixin {
  padding: $fam_tree_leaf_padding;
  font-size: $default_font_size / 2.0;
  line-height: $default_line_height / 2.0;
  cursor: pointer;

  .label {
    text-align: center;
    font-size: $default_font_size + 2;
    line-height: $default_line_height + 2;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

/* Parent view */

.language-parent {
  width: $poem_width - 30;

  .label {
    text-align: center;
    font-weight: bold;
  }
}

.parent-alone {
  text-align: center;
  width: $poem_width - 30;
}

.parents-container {
  margin-left: auto;
  margin-right: auto;
  width: $parent_width * 2 + $narrow_t_width;

  .parent-with-mate {
    float: left;
    text-align: center;
    width: $parent_width;
  }

  .narrow-t-container {
    float: left;
    width: $narrow_t_width;

    .short-t-gap {
      width: narrow_t_width;
      height: 31px;
    }

    .short-t-container {
      width: narrow_t_width;
      height: $fam_tree_line_height / 2;
      float: left;

      .fam-tree-marked-top-right {
        float: left;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #666;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #666;
        height: $fam_tree_line_height / 2;
        width: $narrow_t_width / 2 - 1;
      }

      .fam-tree-marked-top {
        float: left;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #666;
        height: $fam_tree_line_height / 2;
        width: $narrow_t_width / 2;
      }
    }
  }

}

.no-children-notice {
  margin-left: $children_margin;
  width: $poem_width;

  h3 {
    font-size: $default_font_size;
    line-height: $default_line_height;
    margin-bottom: 5px;
  }
}

$children_list_width: 150px;
$short_line_height: 25px;

.children-container {
  margin-left: $children_margin;
  width: $overall_width - $children_margin - $padding;
  overflow-x: auto;

  .left-lines {
    width: 50%;
    height: $short_line_height;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #666;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #666;
    float: right;
  }

  .right-lines {
    width: 50%;
    height: $short_line_height;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #666;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #666;
    float: left;
  }

  .bastards-container {
    float: left;
    width: $children_list_width + $padding;
  }

  .children-list {
    float: left;
    width: $children_list_width;
    padding-left: $padding / 2;
    padding-right: $padding / 2;

    .short-line-container {
      margin-top: 5px;
      margin-bottom: 5px;
      height: $short_line_height;
    }

    .fam-tree-marked-right {
      width: $children_list_width / 2 - 1;
      height: $short_line_height;
    }

    .fam-tree-unmarked {
      height: $short_line_height;
    }

    li.first {
      text-align: center;
    }
  }

  .children-by-father-container {
    float: left;

    p {
      text-align: center;
    }

    .lists-container {
    }
  }
}

.short-line-container {
  width: $fam_tree_line_width + 2 * $fam_tree_leaf_padding;
  height: $fam_tree_line_height / 2;
  margin-left: auto;
  margin-right: auto;
}

.centered-poem {
  @include rounded_corners;
  padding: $padding;
  margin-left: auto;
  margin-right: auto;
  max-width: $poem_width;
}

/* Family Tree */
.left-text {
  width: 50%;
  float: left;
  text-align: right;
}

.right-text {
  width: 50%;
  float: right;
  text-align: left;
}

.family-tree {
  overflow: auto;
}

.fam-tree-leaf {
  @include fam-tree-leaf-mixin;
  float: left;
  width: $fam_tree_line_width;
}

.fam-tree-leaf-self {
  @include fam-tree-leaf-mixin;
  float: left;
  width: $fam_tree_line_width - 4px;
  border-style: solid;
  border-color: $dark;
  border-width: 2px;
}

.fam-tree-row {
  min-height: $fam_tree_line_height;
}

.fam-tree-line-container {
  width: $fam_tree_line_width + 2 * $fam_tree_leaf_padding;
  height: $fam_tree_line_height;
  float: left;
}

.fam-tree-line-level {
  width: $fam_tree_line_width + 2 * $fam_tree_leaf_padding;
  height: $fam_tree_line_height / 2;
}

.fam-tree-unmarked {
  float: left;
  height: $fam_tree_line_height / 2;
  width: $fam_tree_line_width / 2 + $fam_tree_leaf_padding;
}

.fam-tree-marked-right {
  float: left;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #666;
  height: $fam_tree_line_height / 2;
  width: $fam_tree_line_width / 2 + $fam_tree_leaf_padding - 1;
}

.fam-tree-marked-bottom {
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  height: $fam_tree_line_height / 2 - 1;
  width: $fam_tree_line_width / 2 + $fam_tree_leaf_padding;
}

.full-sized-poem {
  @include rounded-corners;
  display: none;
  width: 2.0 * $fam_tree_line_width;
  min-height: 200px;
  padding: $padding;
  position: fixed;
  top: 200px;
  background-color: $white;
  border-color: #222;
  z-index: 9;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
  background-color: $black;
  z-index: 8;
}

.close-btn {
  position: fixed;
  display: none;
  z-index: 10;
}

.inheritence-container {
  margin-bottom: 20px;
}

