<div class="not-so-wide">
  <p class="heading">What is Nonsense Engine?</p>
  <p>Nonsense Engine is a website that randomly generates poetry.  Then, the visitors help that poetry to evolve.</p>

  <p class="heading">It Generates Poems, You Say?</p>
  <p>Yes.  Though, whether you actually consider something randomly thrown together by a computer a poem is up to you.  </p>

  <p class="heading">How Does Nonsense Engine Generate its Nonsense?</p>
  <p>In a single phrase: Markov chains.  But that doesn&rsquo;t do you much good, unless you already know about Markov chains.  So forget about them for now.</p>

  <p>What Nonsense Engine does is look at some text, like say, a collection of Edgar Allen Poe&rsquo;s more famous poems.  It looks at these poems, and keeps track of which words start lines.  Let&rsquo;s say that the most frequent words that begin a line are &ldquo;and&rdquo;, &ldquo;the&rdquo;, and &ldquo;of&rdquo; (which just so happen to be the words that most frequently start a line).  When Nonsense Engine wants to create a new line, it will select one of those words at mostly random.  It&rsquo;s more likely to select the words that show up most frequently, but aside from that, it&rsquo;s random.  So, it&rsquo;s most likely to begin with &ldquo;and&rdquo;, because that&rsquo;s the word that shows up the most at the beginning of the line.  </p>

  <p>Let&rsquo;s say it chooses &ldquo;and&rdquo;.  Now it has to choose the next word.  To do that, Nonsense Engine will look at the words that come most frequently after &ldquo;and&rdquo;.  Those words happen to be &ldquo;all&rdquo;, &ldquo;I&rdquo;, and &ldquo;so&rdquo;.  They come from lines like: &ldquo;<strong>And all</strong> I loved, I loved alone.  Or lines like: &ldquo;<strong>And so</strong> faintly you came tapping, tapping at my chamber door&rdquo;.  Nonsense Engine will choose one of those words that follows &ldquo;and&rdquo;, also based on how frequently it appears.  Let&rsquo;s say Nonsense Engine chooses &ldquo;so&rdquo;.  Now the line looks like &ldquo;And so&rdquo;.  </p>

  <p>Next Nonsense Engine looks at the words that come after &ldquo;so&rdquo;.  One of the words that comes after &ldquo;so&rdquo; is &ldquo;soft&rdquo;.  From the line &ldquo;...when the air <strong>so soft</strong> / Fail'd…&rdquo;  Now the line looks like &ldquo;And so soft&rdquo;.  Even though the words &ldquo;and so soft&rdquo; never appear together anywhere in any of the Edgar Allan Poe poems that Nonsense Engine knows about.  </p>

  <p>This process will until it hits a period, or an exclamation mark, or anything else that might end a sentence.  Then it stops, having a complete line.  Then it makes a new line until it has a few lines, and it calls that collection of lines a poem.</p>

  <p>That process of looking at words tend to come after what other words is a specific type of Markov chain.  There are other uses for Markov chains.  They get used in finance quite a bit.  But rather than do something practical with them, Nonsense Engine uses them to help make nonsense.</p>

  <p>The poems are pretty random.  Sometimes they have a line or two that are pretty entertaining.  A lot of the time the whole poem is basically crap.  That&rsquo;s where the visitors to Nonsense Engine come in.  You can help to make the poems better.</p>

  <p class="heading">What are these &ldquo;Languages&rdquo;?</p>
  <p>Well, the whole site is in English, so it&rsquo;s probably not what you think.</p>

  <p>If you&rsquo;ve read &ldquo;How Nonsense Engine generates its nonsense&rdquo;, you know that Nonsense Engine figures out what words to choose based on some text that it has analyzed.  &ldquo;Language&rdquo;, in the context of Nonsense Engine, means text.  So &ldquo;Edgar Allan Poe&rsquo;s Language&rdquo; is a language based only on Edgar Allan Poe&rsquo;s poems, and nobody else&rsquo;s.  &ldquo;Alexander Blok&rsquo;s Language&rdquo; is only based on Alexander Blok&rsquo;s poems.  Because the two authors have different writing styles, the poems that Nonsense Engine generates from one language have a very different feel than the poems generated from the other.</p>

  <p>Languages don&rsquo;t have to contain the works of just a single poet or author, but most of the time they do. </p>

  <p>Languages don&rsquo;t just generate poems, they have poems associated with them, some of which are alive, and some of which have died.  Normally there are only about twenty (give or take a few) poems alive for each language.  It's possible for multiple languages to be made from the exact same text, each with different poems.</p>

  <p class="heading">How Do Poems Evolve?</p>
  <p>The only way to view most of Nonsense Engine&rsquo;s poems is through an evolution chamber.  In an evolution chamber, you will be shown two poems at a time.  When you click on the one you prefer, you &ldquo;vote&rdquo; for that poem.  You also implicitly vote against the poem you didn&rsquo;t click on.  When a poem gets enough votes against it, it will &ldquo;die&rdquo;.  The poem is still stored, but it doesn&rsquo;t get shown in the evolution chambers any more.  Each language only has about twenty alive poems at any given time.  You will only see alive poems in the evolution chambers, and only the poems people prefer will stay alive.  So, over time, the poems should get better.</p>

  <p>But evolution isn&rsquo;t just about things dying.  Evolution also involves birth, and Nonsense Engine has plenty of that.  When a poem gets voted for enough, it will reproduce.  Poems can reproduce asexually or sexually.</p>

  <p class="heading">Sexual Reproduction?</p>
  <p>When a poem gets voted on enough, sometimes it will choose another poem that has also been voted on a lot, and the two of them will have a child together.  Having a child means that half the lines from one poem get select, and half the lines from the other poem get selected.  Then, Nonsense Engine shuffles all those lines together to make a new poem.  The poem that just got voted on is always considered the mother.  The poem it finds is considered the father.  Just because a poem has been a mother before doesn&rsquo;t mean it can&rsquo;t be a father later in life.  Poems are hermaphrodites.  Don&rsquo;t let anyone tell you otherwise.  Don&rsquo;t let anyone tell you that&rsquo;s a bad thing, either.</p>

  <p class="heading">Asexual Reproduction?</p>
  <p>Sexual reproduction involves two poems mixing their lines together.  Asexual reproduction involves just one poem.  After a poem has been voted on enough, sometimes it will create a copy of itself, but not a perfect copy.  The copy will have mutations.  The can include new lines that didn&rsquo;t exist before.  Some lines might get deleted.  Some other lines might have their beginnings altered, or maybe their ends.  At most four mutations will happen per poem.</p>

  <p class="heading">What does all that Reproduction and Death Mean?</p>
  <p>Basically, it means that a very artificial form of natural selection is going on.  The bad poems go away while the good ones have children that might be even better than their parents.  If the children aren&rsquo;t any better, they go away too, and if they&rsquo;re better, eventually they will replace their parents. The hope is that eventually some really good poems will come out of this experiment.  But no one has ever tried this before.  There&rsquo;s a chance that nothing good will come of it.  The only way to find out is to participate.</p>

  <p class="heading">Is this Trying to Replace Poets with Computers?</p>
  <p>Not at all.  It&rsquo;s not trying to replace anything.  But it certainly isn&rsquo;t trying to replace people with computers.  Nonsense Engine, by itself, has no sense of whether the things it is creating are any good or not.  By itself, it might create a couple of entertaining poems, but they would be mixed in with hundreds of poems that weren&rsquo;t very amusing at all.  The good ones would be created and forgotten out.  Nonsense Engine isn&rsquo;t about a computer making poems by itself.  It&rsquo;s about people joining together to guide what happens, and to try and make something better than a computer could ever hope to.  If anything, Nonsense Engine is a new way for people to collaborate.  Even if no person ever writes a word, it is the people who visit Nonsense Engine who make it what it is.  </p>
</div>

