<div class="not-so-wide">
  <h2>Nonsense Explained</h2>
  <p class="heading">What is Nonsense Engine?</p>
  <p>Nonsense Engine is a website that randomly generates poetry.  Then, the visitors help that poetry to evolve.</p>

  <p class="heading">It Generates Poems, You Say?</p>
  <p>Yes.  Though, whether you actually consider something randomly thrown together by a computer a poem is up to you.  </p>

  <p class="heading">How Does Nonsense Engine Generate its Nonsense?</p>
  <p>Very simply, Nonsense Engine analyzes some text to see which words tend to come after which other words, and it generates poems based on that.  The important thing to remember is that the poems can feel very different based based on what text Nonsense Engine has analyzed.  Text from Edgar Allan Poe produces very different poems than text based on William Blake, for example.</p>
  <p>You can read a more in depth explanation <%= link_to "here", about_path("markov-chains") %>.</p>

  <p class="heading">What are these &ldquo;Languages&rdquo;?</p>
  <p>Well, the whole site is in English, so it&rsquo;s probably not what you think.</p>

  <p>If you&rsquo;ve read &ldquo;How Nonsense Engine generates its nonsense&rdquo;, you know that Nonsense Engine figures out what words to choose based on some text that it has analyzed.  &ldquo;Language&rdquo;, in the context of Nonsense Engine, means text.  So &ldquo;Edgar Allan Poe&rsquo;s Language&rdquo; is a language based only on Edgar Allan Poe&rsquo;s poems, and nobody else&rsquo;s.  &ldquo;Alexander Blok&rsquo;s Language&rdquo; is only based on Alexander Blok&rsquo;s poems.  Because the two authors have different writing styles, the poems that Nonsense Engine generates from one language have a very different feel than the poems generated from the other.</p>

  <p>Languages don&rsquo;t have to contain the works of just a single poet or author, but most of the time they do. </p>

  <p>Languages don&rsquo;t just generate poems, they have poems associated with them, some of which are alive, and some of which have died.  Normally there are only about twenty (give or take a few) poems alive for each language.  It's possible for multiple languages to be made from the exact same text, each with different poems.</p>

  <p class="heading">How Do Poems Evolve?</p>
  <p>The only way to view most of Nonsense Engine&rsquo;s poems is through an evolution chamber.  In an evolution chamber, you will be shown two poems at a time.  When you click on the one you prefer, you &ldquo;vote&rdquo; for that poem.  You also implicitly vote against the poem you didn&rsquo;t click on.  When a poem gets enough votes against it, it will &ldquo;die&rdquo;.  The poem is still stored, but it doesn&rsquo;t get shown in the evolution chambers any more.  Each language only has about twenty alive poems at any given time.  You will only see alive poems in the evolution chambers, and only the poems people prefer will stay alive.  So, over time, the poems should get better.</p>

  <p>But evolution isn&rsquo;t just about things dying.  Evolution also involves birth, and Nonsense Engine has plenty of that.  When a poem gets voted for enough, it will reproduce.  Poems can reproduce asexually or sexually.</p>

  <p class="heading">Sexual Reproduction?</p>
  <p>When a poem gets voted on enough, sometimes it will choose another poem that has also been voted on a lot, and the two of them will have a child together.  Having a child means that half the lines from one poem get select, and half the lines from the other poem get selected.  Then, Nonsense Engine shuffles all those lines together to make a new poem.  The poem that just got voted on is always considered the mother.  The poem it finds is considered the father.  Just because a poem has been a mother before doesn&rsquo;t mean it can&rsquo;t be a father later in life.  Poems are hermaphrodites.  Don&rsquo;t let anyone tell you otherwise.  Don&rsquo;t let anyone tell you that&rsquo;s a bad thing, either.</p>

  <p class="heading">Asexual Reproduction?</p>
  <p>Sexual reproduction involves two poems mixing their lines together.  Asexual reproduction involves just one poem.  After a poem has been voted on enough, sometimes it will create a copy of itself, but not a perfect copy.  The copy will have mutations.  The can include new lines that didn&rsquo;t exist before.  Some lines might get deleted.  Some other lines might have their beginnings altered, or maybe their ends.  At most four mutations will happen per poem.</p>

  <p class="heading">What does all that Reproduction and Death Mean?</p>
  <p>Basically, it means that a very artificial form of natural selection is going on.  The bad poems go away while the good ones have children that might be even better than their parents.  If the children aren&rsquo;t any better, they go away too, and if they&rsquo;re better, eventually they will replace their parents. The hope is that eventually some really good poems will come out of this experiment.  But no one has ever tried this before.  There&rsquo;s a chance that nothing good will come of it.  The only way to find out is to participate.</p>

  <p class="heading">Is this Trying to Replace Poets with Computers?</p>
  <p>Not at all.  It&rsquo;s not trying to replace anything.  But it certainly isn&rsquo;t trying to replace people with computers.  Nonsense Engine, by itself, has no sense of whether the things it is creating are any good or not.  By itself, it might create a couple of entertaining poems, but they would be mixed in with hundreds of poems that weren&rsquo;t very amusing at all.  The good ones would be created and forgotten out.  Nonsense Engine isn&rsquo;t about a computer making poems by itself.  It&rsquo;s about people joining together to guide what happens, and to try and make something better than a computer could ever hope to.  If anything, Nonsense Engine is a new way for people to collaborate.  Even if no person ever writes a word, it is the people who visit Nonsense Engine who make it what it is.  </p>
</div>

