//= require reset
//= require_self
//= require_tree ./controllers/

 /* Primary Styles
    Author: Raul Jara
 */

/*
 * General
 */

@import 'global_settings.scss';


::-moz-selection { background: $high_light_color; color:#fff; text-shadow: none; }
::selection { background: $high_light_color; color:#fff; text-shadow: none; }

p {
  margin-bottom: 5px;
}

p.normal-size {
  font-size: $default_font_size;
  line-height: $default_line_height;
}

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: $padding / 2.0;
  width: 100%;
}


h2 {
  font-size: 18px;
  line-height: 24px;
}

h3 {
  margin-bottom: 20px;
}

hr.small {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  @include centered;
}

.transparent {
  opacity: 0.0;
}

h1 {
  @include logo;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #6063a0;
}

a:hover {
  color: #036;
}

a.disabled-link {
  color: #222;
}

ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none;
}

.clear {
  display: block;
  clear: both;
}

/*
 * Template
 */

body {
  font-size: $default_font_size;
  line-height: $default_line_height;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from($sub_color_4), to($sub_color_4), color-stop(0.5, $sub_color_2) );
  min-height: $minimum_body_height;
}

.main-body {
  @include rounded-corners;
  width: $overall_width - 2 * $padding;
  padding: $padding;
  background-color: $white;
  min-height: $minimum_height;
  min-width: $minimum_width;
  border-color: $black;
  margin-top: $header_height - 2 * $header_padding + 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

a.logo-link {
  float: left;
  @include logo;
}

a.logo-link:hover {
  color: $main_color;
}

header {
  @include button-gradient($main_color, 68%);
  width: 100%;
  height: $header_height - 2 * $header_padding;
  position: fixed;
  top: 0px;
  background-color: $white;
  border-width: 1px;
  border-style: none none solid;
  z-index: 10;
  border-color: #222;

  .centered {
    width: $overall_width;
    padding-top: $header_padding;
    padding-bottom: $header_padding;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    float: right;
    margin-top: ($logo_line_height - $default_line_height) / 4;
    list-style-type: none;
  }

  li {
    margin-left: 20px;
    float: right;
  }
}


.page-title {
  text-align: center;
  margin-top: ($logo_line_height - $default_line_height) / 4;
  margin-left: auto;
  margin-right: auto;
}

.left-column {
  width: 45%;
  float: left;
}

.right-column {
  width: 45%;
  float: right;
}


/* Carousel */

.carousel {
  width: 100%;
  margin-bottom: 25px;

  li {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    @include rounded_corners;
    padding: $padding;
    width: $poem_width;
    background-color: $white;
  }
}

.carousel-counter li {
  @include rounded-corners(4px);
  float: left;
  margin-left: 4px;
  height: 8px;
  width:  8px;
  border-color: #222;
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

.carousel-unselected {
  background-color: #fff;
}

.carousel-selected {
  background-color: #555;
}

