<header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if signed_in? %>
      <li><%= link_to "Log out", signout_path %></li>
    <% else %>
      <li><%= link_to "Log in", signin_path %></li>
    <% end %>
  </ul>
</header>
